/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/core/RUNNING_PID
/core/logs/
/core/project/*-shim.sbt
/core/project/project/
/core/project/target/
/core/target/
/example/RUNNING_PID
/example/logs/
/example/project/*-shim.sbt
/example/project/project/
/example/project/target/
/example/target/
